<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./champ-page-janna.component.css">
    <title>Champ Page</title>
</head>
<body>
    <div class="main-container">
            <div class="intro">
                <h1>Janna</h1>
                <p>An ancient and mysterious wind spirit, Janna has come to protect the dispossessed of Zaun Crest icon Zaun. While her presence is most often felt as a soothing breeze or a ferocious tempest, she also can manifest in corporeal form as an ethereal figure, comforting the downtrodden. Over the eons, Janna has witnessed the rise and fall of civilizations. Through it all, she remains steadfast as a beacon of hope to those in need.</p>
                <div class="spells">
                    <img class="spell-icon" src="../../assets/Janna_Tailwind.png">
                    <img class="spell-icon" src="../../assets/Janna_Howling_Gale.png">
                    <img class="spell-icon" src="../../assets/Janna_Zephyr.png">
                    <img class="spell-icon" src="../../assets/Janna_Eye_of_the_Storm.png">
                    <img class="spell-icon" src="../../assets/Janna_Monsoon.png">
                </div>
            </div>

    
        <div>
            <img class="render" src="../../assets/Janna_Render.webp">
        </div>
    </div>
</body>
</html>

