
    <div class="flexbox-container">
        <h1>Guides</h1>
        <div class="guides-container">

            <button class="guide-icon">
                <a routerLink="/vision-guide">
                    <img src="../../assets/control_ward.png">
                </a>
            </button>

            <button class="guide-icon">
                <a routerLink="/">
                    <img src="../../assets/world_atlas.png">
                </a>
            </button>
        </div>
    </div>


