<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="guides.component.css">
    <title>Document</title>
</head>
<body>
    <div class="flexbox-container">
        <h1>Guides</h1>
        <div class="guides-container">

            <button class="guide-icon">
                <a routerLink="/">
                    <img src="../../assets/control_ward.png">
                </a>
            </button>

            <button class="guide-icon">
                <a routerLink="/">
                    <img src="../../assets/world_atlas.png">
                </a>
            </button>
        </div>
    </div>
</body>
</html>
