<div class="flexbox-container" *ngIf="items">
    <h1>Support Item Upgrades</h1>
    <div class="items-container">
        <button class="item-icon" *ngFor="let item of items.supportItems">
          <a>
            <img src={{item}}>
          </a>
        </button>
      </div>
      
    <h1>Legendary Items</h1>
    <div class="items-container">
        
        <button class="item-icon" *ngFor="let item of items.legendaryItems">
            <a>
                <img src={{item}}>
            </a>
        </button>
    </div>
</div>