<!-- This will later be replaced with ngFor directives to reduce clutter -->

<div class="flexbox-container">
    <h1>Support Item Upgrades</h1>
    <div class="items-container">
        <button class="item-icon" *ngFor="let item of supportItems">
          <a>
            <img src={{item}}>
          </a>
        </button>
      </div>
      
    <h1>Legendary Items</h1>
    <div class="items-container">
        
        <button class="item-icon" *ngFor="let item of legendaryItems">
            <a>
                <img src={{item}}>
            </a>
        </button>
    </div>
</div>