.primary-content {
    display: flex;
}

.content {
    width: 25%;
    padding: 1em;
}

.content h1 {
    text-align: center;
}

.spells {
    display:flex;
    gap: 25px;
}

.spell-icon:hover {
    transform: scale(1.1)
}

.render {
    max-width: 100%;
    height: 80vh;
}