
<!-- hoping to replace this hideous line later, the style segment has got to go -->
<div class="primary-content bgImg overlay" style="background-image: linear-gradient(270deg, rgba(0, 0, 0, 0) 24.44%, rgba(0, 0, 0, 0.6) 56.63%), url({{splashArt}})" *ngIf="champion">

    <div class="content">

        <h2>{{ champion.nickname }}</h2>
        <h1>{{ champion.name }}</h1>
        <p>{{champion.lore}}</p>

            <div>

                <div>
                    <button id={{spell.id}} (click)="hideToggle($event)" class="spellBtn" *ngFor="let spell of champion.spells">
                        <img class='spell-icon' src={{spell.icon}}>
                    </button>
                </div>

                <!-- element conditionally rendered based on value of expression -->
                <div *ngIf="spellActive || spellPassive">
                    <!-- conditionally display paragraphs -->
                    <p *ngIf="spellActive">Active: {{spellActive}}</p>
                    <p *ngIf="spellPassive">Passive: {{spellPassive}}</p>
                </div>

            </div>

        </div>

    </div>

    <!-- <img class='render' [src]="champion.render" alt="{{ champion.name }}"> -->
    


  
