
<div class="main-container">
    <div class="intro">
        <h1>Maokai</h1>
        <p> Maokai is a rageful, towering treant who fights the unnatural horrors of the Shadow Isles Crest icon Shadow Isles. He was twisted into a force of vengeance after a magical cataclysm destroyed his home, surviving undeath only through the waters of life infused within his heartwood. Once a peaceful nature spirit, Maokai now furiously battles to banish the scourge of unlife from the Shadow Isles and restore his home to its former beauty.</p>
        <div class="spells">
            <div *ngFor="let info of spellDetails">

                <button id={{info.spellName}} class="spellBtn" (click)="showChampInfo(champId, info.spellId)">
                    <img class="spell-icon" src={{info.spellIcon}}>
                </button>
            </div>
        </div>

        <div id="description-container" *ngIf="spellType">
            <div>
                <p>{{spellType.spellName}}</p>
                <div>
                    {{spellType.passive}}
                    {{spellType.active}}
                </div>
            </div>
        </div>
    </div>


<div>
    <img class="render" src="../../assets/champions/renders/Maokai_Render.webp">
</div>
</div>
