<div class="flexbox-container">
    <div class="wards-container">

        <button class="ward-icon">
            <a>
                <img src="../../assets/vision/control_ward.png">
            </a>
        </button>

        <button class="ward-icon">
            <a>
                <img src="../../assets/vision/Stealth_Ward_icon.webp">
            </a>
        </button>

        <button class="ward-icon">
            <a>
                <img src="../../assets/vision/Sweeping_Lens_Icon.png">
            </a>
        </button>

        <button class="ward-icon">
            <a>
                <img src="../../assets/vision/Farsight_Alteration_icon.png">
            </a>
        </button>
    </div>
</div>