html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
body {
    display: flex;
    flex-direction: column;

    font-family: Arial, sans-serif;
    background-color: rgb(204,228,247);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    color: #C0C0C0;
    text-shadow:
        -1px -1px 0 #000,  
            1px -1px 0 #000,
        -1px 1px 0 #000,
            1px 1px 0 #000;   
  }

  



