
    <div class="flexbox-container">
        <h1>Champion Pool</h1>
        <div class="champ-pool-container">
            <button class="champ-icon">
                <a routerLink="/rakan-page">
                    <img src="../../assets/RakanSquare.webp">
                </a>
            </button>

            <button class="champ-icon">
                <a routerLink="/janna-page">
                    <img src="../../assets/JannaSquare.webp">
                </a>
            </button>

            <button class="champ-icon">
                <a routerLink="/maokai-page">
                    <img src="../../assets/MaokaiSquare.webp">
                </a>
            </button>
            
        </div>
    </div>

