.flexbox-container {
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.champ-pool-container {
    display:flex;
    gap: 15px;
}

.champ-icon {
    border: none;
    padding: 0;
    cursor: pointer;
    background-color: transparent;
    outline: none;
    transition: transform 0.3s ease; 
}

.champ-icon a img {
    display: block;
    width: 160px;
    height: auto;
}

.champ-icon:hover {
    transform: scale(1.1);
}
