.flexbox-container {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
}

.champ-pool-container {
    display:flex;
}

.champ-icon {
    border: none;
    padding: 0;
    cursor: pointer;
    background-color: transparent;
    outline: none;
    transition: transform 0.3s ease; 
}

.champ-icon:hover {
    transform: scale(1.1);
}
